# Entornos virtuales
venv/
pycaret_env/

# Archivos temporales
__pycache__/
*.pyc
*.pyo

# Checkpoints de notebooks
.ipynb_checkpoints/

# Archivos grandes o privados
*.zip

# Configuraciones personales
.env
.DS_Store